.modal {
  
  position: relative;
}

.modal::before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.modal.active {
  display: flex;
}

.modal.active .modal-wrapper {
	animation: moveleft 1 ease-out 0.3s
}

.modal-open {
  @apply overflow-hidden
}

@keyframes moveleft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}